*/**/node_modules
*/**/node_modules/*
node_modules
*/**/dist
*/**/.env
*/**/tsconfig.tsbuildinfo
*/**/coverage
*/**/build
*/**/out
*/**/lib
*/**/esm
*/**/cjs
*/**/.idea
*/**/yarn-error.log
*/**/yarn.lock
*/**/package-lock.json
.idea
*/**/.DS_Store
*/**/.turbo
*/**/.next
*/**/.cache
*/**/pnpm-lock.yaml
*/**/tmp/*
tmp
*/**/temp/*
*/**/logs/*