APP_NAME="Vest Example"
APP_ENV=local
APP_KEY=
APP_DEBUG=true
PORT=3000

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_NAME=vest_example
DB_USER=root
DB_PASSWORD=

CACHE_DRIVER=file
QUEUE_CONNECTION=sync
MAIL_DRIVER=log
BROADCAST_DRIVER=null

REDIS_HOST=127.0.0.1
REDIS_PORT=6379

JWT_SECRET=change-me-in-production
